body {
    background-color: tan;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color:darkblue;
}
.about {
    color:lightblue;
}
.skills {
    color:yellow;
}
.projects {
    color:green;
}
.contact {
    color:red;
}
